* {
    font-size: 15px;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8E9DCC;
    font-family: Arial, sans-serif;
}

.login-container {
    max-width: 400px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
    font-size: 21px;
    /* background-color: #7d57ab; */
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-input-field,
.signup-button {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}

.signup-input-field {
    border: 1px solid #dddddd;
}

.signup-button {
    /* background-color: #4caf50; */
    background-color: #8566aa;
    color: #ffffff;
    cursor: pointer;
    font-size: 19px;
    transition: all 400ms ease;
}

.signup-button:hover {
    background-color: #7d57ab;
    transform: scale(1.05);
}

.or-divider {
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
    color: #777777;
}

.link {
    text-align: center;
    margin-top: 15px;
    padding: 2px;
    font-size: 20px;
}

.link a {
    color: #555555;
    font-size: 18px;
    text-decoration: none;
    transition: all 400ms ease;
}

.link a:hover {
    /* transform: scale(1.05); */
    font-size: 19px;
}


@media (max-width: 768px) {
    .login-container {
        width: 55%;
        /* height: ; */
    }
}

@media (max-width: 412px) {
    .login-container {
        width: 70%;
    }
}